@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --main-color: #393536; 
    --secondry-color: #218575;
    --accent-color: #ff680a;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
    text-align: center;
}
.quiz-container {
    background-color: var(--main-color);
    text-align: center;
    padding: 50px;
    min-height: 600px;
    justify-content: center;
}

/*QUIZ*/

.btn-large {
    text-decoration: none;
    background: linear-gradient(90deg,
        rgba(238, 241, 237, 0.993) 70%,
        rgba(26, 26, 26, 0.829) 120%);
    color: var(--color-dark);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.btn-large:hover {
    background: linear-gradient(90deg,
        rgba(112, 114, 112, 0.829) 70%,
        rgba(242, 246, 241, 0.993) 120%);
    color: var(--color-primary);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
}

.btn-small {
    width: 200px;
    text-decoration: none;
    background: linear-gradient(90deg,
        rgba(238, 241, 237, 0.993) 70%,
        rgba(26, 26, 26, 0.829) 120%);
    color: var(--color-dark);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    margin: 10px;
}

.btn-small:hover {
    background: linear-gradient(90deg,
        rgba(112, 114, 112, 0.829) 70%,
        rgba(242, 246, 241, 0.993) 120%);
    color: var(--color-primary);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
}

.btn-exit {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999; /* Ensure it's above other elements */
    width: 100px;
    text-decoration: none;
    background: linear-gradient(90deg,
        var(--accent-color) 70%,
        rgba(26, 26, 26, 0.829) 120%);
    color: var(--color-dark);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.btn-exit:hover {
    background: linear-gradient(90deg,
        rgba(112, 114, 112, 0.829) 70%,
        rgba(242, 246, 241, 0.993) 120%);
    color: var(--color-primary);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
}

/*EXIT*/
.quiz-exit{
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 50px;
}

.quiz-exit h1{
    color: var(--accent-color);
    font-size: 44px;
}

/*START*/
.start-screen {
    background-color: var(--main-color);
    text-align: center;
    color: white;
    padding: 50px;
}

.start-screen h1{
    color: var(--accent-color);
    font-size: 44px;
}

#languageText{
    color: var(--secondry-color);
}
/*GAME*/
.quiz-game {
    background-color: var(--main-color);
    text-align: center;
    color: white;
    padding: 50px;;
}

.quiz-game h1{
    color: var(--accent-color);
    font-size: 44px;
}

/*QUESTIONS*/

.container {
    background-color: white;
    color: var(--main-color);
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}
.question {
    width: 100%;
    text-align: center;
}
.question h1{
    color: var(--accent-color);
    font-size: 33px;
}

.question h2{
    color: var(--secondry-color);
    font-size: 22px;
    font-weight: 800;
}
.questionText {
    margin-bottom: 50px;
    border-bottom: solid 2px var(--secondry-color);
}
.questionBorder {
    border-bottom: solid 1px rgb(247, 239, 239);
    margin: 20px;
    font-size: 33px;
    font-weight: 600;
}
.options {
    position: relative;
    padding-left: 40px;
    text-align: left;
}

#options label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input {
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--main-color);
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked~.checkmark:after {
    display: block;
}

.options .checkmark:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked~.checkmark {
    background: var(--secondry-color);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1);
}

.buttonQ {
    display: flex;
    justify-content: space-evenly;
}

/*END*/
.end-screen {
    background-color: var(--main-color);
    text-align: center;
    color: white;
    padding: 100px;;
}

.end-screen h1{
    color: var(--accent-color);
    font-size: 44px;
}

.summary{
    background-color: white;
    color: var(--main-color);
    border-radius: 10px;
}

/*PROGRESS*/
.progress-screen {
    background-color: var(--main-color);
    text-align: center;
    color: white;
    padding: 100px;;
}

.progress-screen h1{
    color: var(--accent-color);
    font-size: 44px;
}
/*QuizStart */


.languageOptions {
    margin: 10px;
}

#languageText {
    margin: 5px;
    font-size: 28px;
}

#language {
    width: 200px;
}

/*QuizGame */

.progress-item {
    padding: 25px;
}


.container>p {
    font-size: 32px;
}

@media(max-width:576px) {
    .question {
        width: 100%;
        word-spacing: 2px;
    }
}