.about-container {
  min-height: calc(100vh - 40px); /* Adjust as per navbar and footer height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  max-width: 800px;
  padding: 20px;
  text-align: center;
  color:white;
  font-size: 30px;
}

.about-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-text {
  margin-top: 20px;
  text-align: left;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  float: left;
}

/* Image styles */
.profile-image {
  display: flex;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  top: 20px;
  float: left;
  border: 3px solid #fff; /* White border around the image */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

/* Hover effect for the image */
.profile-image:hover {
  transform: scale(1.1); /* Scale the image on hover */
  transition: transform 0.3s ease; /* Smooth transition */
}

.about-text p {
  margin-bottom: 15px;
  line-height: 1.5;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .about-content {
    padding: 10px;
  }

  .about-text {
    text-align: center;
  }

  .about-text p {
    text-align: justify; /* Align paragraphs to justify text on smaller screens */
  }

  .profile-image {
    float: none;
    margin: 0 auto 20px;
  }
}
