
:root {
    --main-color: #393536;
    --secondry-color: #218575;
    --accent-color: #FF680A;
  }

  p {
    color: #393536;
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
  }

  h2 {
    color: #393536;
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;

  }
