@import url('https://fonts.googleapis.com/css2?family=Mallanna&family=Tauri&display=swap');

:root {
  --font-size: 45px;
  --font-weight: 600;
  --font-right-side: 25px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 10px 0 20px;
}

.logo {
  max-width: 250px;
  height: 80px;
  margin-left: 20px;
}

.leftSide h1 {
  margin: 0;
  color: white;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

.rightSide {
  display: flex;
  align-items: flex-end;
}

.rightSide a {
  color: #393536;
  font-family: "Mallanna", sans-serif;
  text-decoration: none;
  margin: 0 10px;
  font-size: var(--font-right-side);
  font-weight: var(--font-weight);
}

button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 20px;
}

@media(max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .rightSide {
    justify-content: flex-start;
  }

  .rightSide a {
    display: block;
    margin-bottom: 11px;
  }

  .rightSide button {
    padding: 10px;
    margin-top: 10px;
  }
}

@media(max-width: 600px) {
  .container-fluid {
    flex-direction: column;
  }
  .leftSide h1 {
    font-size: 20px;
  }

  button {
    margin-left: 0;
  }
}

